@font-face{
	font-family: Phenomena;
	src: url("/Phenomena-Regular.otf");
}
html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body{
	background-color:#000000;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: Phenomena;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}

div{
	width:50%;
	height:90%;
	max-width:calc(60vh);
}
  
img{
	width:100%
}

#button0{
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.1);
	background:#f9a825;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}

#button0:hover{
	background:#ffffff;

}
#button1{
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.1);
	background:#05285b;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}

#button1:hover{
	background:#ffffff;
}

#button2{
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.1);
	background:#ff0000;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}

#button2:hover{
	background:#ffffff;
}

#button3{
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.1);
	background:#ff7900;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}

#button3:hover{
	background:#ffffff;
}

#button4{
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.1);
	background:#00c800;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}

#button4:hover{
	background:#ffffff;
}

footer{
	display:inline-block;
	box-sizing:border-box;
	width:100%;
	color:#000000;
	font-size:calc((min(50vw, 60vh))*0.075);
	background:#ffffff;
	padding:calc((min(50vw, 60vh))*0.075);
	border:none;
}
