html{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body{
	background-color:#000000;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family:Helvetica;
}

div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
  
img{
	max-width:50%;
	max-height:50%;
}
	
#button1{
	width:45vw;
	max-width:373px;
	color:#000000;
	font-size:clamp(0px, 6vw, 40px);
	background:#ff0000;
	padding:clamp(0px, 3vw, 20px);
	border:none;
}

#button1:hover{
	background:#ffffff;
}

#button2{
	width:45vw;
	max-width:373px;
	color:#000000;
	font-size:clamp(0px, 6vw, 40px);
	background:#ff7900;
	padding:clamp(0px, 3vw, 20px);
	border:none;
}

#button2:hover{
	background:#ffffff;
}

footer{
	font-size:clamp(0px, 3vw, 20px);
	width:100%;
	height:clamp(0px, 6vw, 40px);
	background:#ffffff;
	flex-shrink:0;
}
